#Outer {
  display: grid;
  place-items: center;
  height: 50px;
}

.coverImage {
  background: url("https://angstyteenwatchingtoomuchtv.files.wordpress.com/2015/07/tumblr_nlhsir3adc1sk2qobo1_12801.gif")
    no-repeat;
  // background-color: green;
  background-size: cover;
  display: block;
  width: 50%;
  height: 100%;
  margin: 5% 25%;
  position: absolute;
}

@media (min-width: 1000px) {
  .coverImage {
    height: 100%;
    width: 80%;
  }
}
@media (min-width: 840px) {
  .coverImage {
    width: 57%;
  }
}
@media (min-width: 650px) {
  .coverImage {
    width: 48%;
  }
}
@media (max-width: 550px) {
  .coverImage {
    width: 60%;
    height: 80%;
  }
}

@media (max-width: 453px) {
  .coverImage {
    width: 60%;
    height: 80%;
  }
}
