<!-- This Section is for Add or Edit One Album -->
<mat-tab-group mat-align-tabs="end">
  <mat-tab label="Add One">
    <h1 *ngIf="isAddMode">Add Album</h1>
    <h1 *ngIf="!isAddMode">Edit Album</h1>
    <form [formGroup]="albumForm" (ngSubmit)="onSubmit()">
      <!-- Title Album -->
      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" formControlName="title" />
        <p
          class="error"
          *ngIf="
            albumForm.controls.title.errors?.required &&
            albumForm.controls.title.touched &&
            formSended
          "
        >
          You need add the name of the artist
        </p>
        <p
          class="error"
          *ngIf="
            albumForm.controls.title.errors?.maxlength &&
            albumForm.controls.title.dirty
          "
        >
          Name: Minimum length 3 characters and max length 13.
          {{ albumForm.controls.title.errors.maxlength.requiredLength | json }}
          and you are writing.
          {{ albumForm.controls.title.errors.maxlength.actualLength | json }}
          characters
        </p>
      </div>
      <!-- Artist ID -->

      <mat-form-field appearance="fill">
        <mat-label>Artist Name</mat-label>
        <mat-select
          formControlName="artistName"
          [(ngModel)]="selectedValue"
          name="artistName"
        >
          <mat-option *ngFor="let artistName of arr" [value]="artistName">
            {{ artistName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- URL -->

      <div class="form-group">
        <label>Cover Album URL</label>
        <input type="text" class="form-control" formControlName="coverUrl" />
      </div>

      <!-- Year -->
      <div class="form-group">
        <label> Year </label>
        <input type="number" class="form-control" formControlName="year" />
        <p
          class="error"
          *ngIf="
            albumForm.controls.year.errors?.dateValidator &&
            albumForm.controls.year.touched
          "
        >
          Year of Album should be between
          {{ albumForm.controls.year.errors.dateValidator.min }} y
          {{ albumForm.controls.year.errors.dateValidator.max }}.
        </p>
      </div>
      <!-- Genre -->
      <div class="form-group">
        <label>Genre</label>
        <input type="text" class="form-control" formControlName="genre" />
      </div>

      <input type="submit" value="send" class="btn btn-block btn-success" />
      <p class="error" *ngIf="formSended && !albumForm.valid">
        The Form is not correct, check again please!
      </p>
    </form>
    <div class="Error">
      <p>{{ textErrorOne }}</p>
    </div>
  </mat-tab>
  <!-- ------------------------------------- -->
  <!-- ------------------------------------- -->
  <!-- This section is for Add 3 Albums in One time -->
  <mat-tab label="Add More">
    <div class="example-container">
      <form
        novalidate
        #formMore="ngForm"
        (ngSubmit)="onSubmitMore(formMore.value)"
      >
        <div class="group">
          <h3>First Album</h3>
          <!-- Form 1/3 -->
          <mat-form-field
            appearance="fill"
            [hideRequiredMarker]="hideRequiredControl.value"
            [floatLabel]="floatLabelControl.value"
          >
            <input
              matInput
              placeholder="Album Title"
              required
              type="text"
              name="title1"
              ngModel
            />
          </mat-form-field>

          <!-- artist ID -->

          <mat-form-field
            appearance="fill"
            [hideRequiredMarker]="hideRequiredControl.value"
            [floatLabel]="floatLabelControl.value"
          >
            <input
              matInput
              placeholder="Artist ID"
              required
              type="text"
              name="artistId1"
              ngModel
            />
          </mat-form-field>

          <mat-form-field
            appearance="fill"
            [hideRequiredMarker]="hideRequiredControl.value"
            [floatLabel]="floatLabelControl.value"
          >
            <input
              matInput
              placeholder="Cover Album URL"
              required
              type="text"
              name="coverUrl1"
              ngModel
            />
          </mat-form-field>
          <mat-form-field
            appearance="fill"
            [hideRequiredMarker]="hideRequiredControl.value"
            [floatLabel]="floatLabelControl.value"
          >
            <input
              matInput
              placeholder="Year"
              required
              type="number"
              name="year1"
              ngModel
            />
          </mat-form-field>
          <mat-form-field
            appearance="fill"
            [hideRequiredMarker]="hideRequiredControl.value"
            [floatLabel]="floatLabelControl.value"
          >
            <input
              matInput
              placeholder="Genre"
              required
              type="text"
              name="genre1"
              ngModel
            />
          </mat-form-field>
        </div>
        <!-- Form 2/3 -->
        <mat-divider></mat-divider>
        <div class="group">
          <h3>Second Album</h3>

          <mat-form-field
            appearance="fill"
            [hideRequiredMarker]="hideRequiredControl.value"
            [floatLabel]="floatLabelControl.value"
          >
            <input
              matInput
              placeholder="Album Title"
              required
              type="text"
              name="title2"
              ngModel
            />
          </mat-form-field>
          <!-- ID -->
          <mat-form-field
            appearance="fill"
            [hideRequiredMarker]="hideRequiredControl.value"
            [floatLabel]="floatLabelControl.value"
          >
            <input
              matInput
              placeholder="Artist ID"
              required
              type="text"
              name="artistId2"
              ngModel
            />
          </mat-form-field>
          <mat-form-field
            appearance="fill"
            [hideRequiredMarker]="hideRequiredControl.value"
            [floatLabel]="floatLabelControl.value"
          >
            <input
              matInput
              placeholder="Cover Album URL"
              required
              type="text"
              name="coverUrl2"
              ngModel
            />
          </mat-form-field>
          <mat-form-field
            appearance="fill"
            [hideRequiredMarker]="hideRequiredControl.value"
            [floatLabel]="floatLabelControl.value"
          >
            <input
              matInput
              placeholder="Year"
              required
              type="number"
              name="year2"
              ngModel
            />
          </mat-form-field>
          <mat-form-field
            appearance="fill"
            [hideRequiredMarker]="hideRequiredControl.value"
            [floatLabel]="floatLabelControl.value"
          >
            <input
              matInput
              placeholder="Genre"
              required
              type="text"
              name="genre2"
              ngModel
            />
          </mat-form-field>
        </div>

        <!-- Form 3/3 -->
        <mat-divider></mat-divider>
        <div class="group">
          <h3>Third Album</h3>

          <mat-form-field
            appearance="fill"
            [hideRequiredMarker]="hideRequiredControl.value"
            [floatLabel]="floatLabelControl.value"
          >
            <input
              matInput
              placeholder="Album Title"
              required
              type="text"
              name="title3"
              ngModel
            />
          </mat-form-field>
          <!-- ID -->
          <mat-form-field
            appearance="fill"
            [hideRequiredMarker]="hideRequiredControl.value"
            [floatLabel]="floatLabelControl.value"
          >
            <input
              matInput
              placeholder="Artist ID"
              required
              type="text"
              name="artistId3"
              ngModel
            />
          </mat-form-field>

          <mat-form-field
            appearance="fill"
            [hideRequiredMarker]="hideRequiredControl.value"
            [floatLabel]="floatLabelControl.value"
          >
            <input
              matInput
              placeholder="Cover Album URL"
              required
              type="text"
              name="coverUrl3"
              ngModel
            />
          </mat-form-field>
          <mat-form-field
            appearance="fill"
            [hideRequiredMarker]="hideRequiredControl.value"
            [floatLabel]="floatLabelControl.value"
          >
            <input
              matInput
              placeholder="Year"
              required
              type="number"
              name="year3"
              ngModel
            />
          </mat-form-field>
          <mat-form-field
            appearance="fill"
            [hideRequiredMarker]="hideRequiredControl.value"
            [floatLabel]="floatLabelControl.value"
          >
            <input
              matInput
              placeholder="Genre"
              required
              type="text"
              name="genre3"
              ngModel
            />
          </mat-form-field>
        </div>
        <div>
          <input type="submit" value="send" class="btn btn-block btn-success" />
          <!-- <p class="error" *ngIf="formSended && !formulario.valid">
            The Form is not correct, check again please!
          </p> -->
        </div>
      </form>
      <div class="Error">
        <p>{{ textErrorMany }}</p>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
