<div class="parallax-container">
  <div class="parallax"></div>
  <img src="../../assets/img/Image_Kenjo.jpeg" alt="Music Image" />
</div>
<div class="Control black white-text center">
  <div class="section">
    <h3>Kenjo</h3>

    <a (click)="handleClick()" class="waves-effect waves-light btn"
      ><i class="material-icons left">looks</i>Challenge</a
    >
  </div>
</div>
<div class="image2 parallax-container">
  <div class="parallax"></div>
  <img src="../../assets/img/vin_kenjo.jpeg" alt="Music Image" />
</div>
