footer {
  padding: 20px;
  background-color: #303030;
}
mat-divider {
  background-color: #303030;
}
.logo {
  margin-top: 13px;
  margin-right: 8px;
  width: 30px;
  height: 40px;
}
.all {
  display: flex;
  justify-content: space-between;
}
