mat-form-field {
  margin: 5px 5px 5px 5px;
}
.group {
  margin: 15px 15px 15px 15px;
}
.example-container {
  width: 80%;
  margin: 0 auto;
}
mat-form-field {
  margin-right: 12px;
}
p {
  color: #555;
}
