<mat-nav-list>
  <div class="profile-card">
    <img src="../../../../assets/img/classic_kenjo.jpeg" alt="your Image" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader>Actions</h2>

  <a mat-list-item routerLink="/albums" routerLinkActive="list-item-active"
    >Albums<span class="material-icons"> album </span>
    <mat-divider></mat-divider
  ></a>

  <a mat-list-item routerLink="/artists" routerLinkActive="list-item-active"
    >Artists<span class="material-icons"> speaker_group </span>
    <mat-divider></mat-divider
  ></a>

  <a mat-list-item routerLink="/add-album" routerLinkActive="list-item-active"
    >Add Album<span class="material-icons"> library_add </span>
    <mat-divider></mat-divider
  ></a>

  <a mat-list-item routerLink="/add-artists" routerLinkActive="list-item-active"
    >Add Artist<span class="material-icons"> how_to_reg </span>
    <mat-divider></mat-divider
  ></a>

  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/search" routerLinkActive="list-item-active"
    >Search<span class="material-icons"> person_search </span>
    <mat-divider></mat-divider
  ></a>
  <mat-divider></mat-divider>
</mat-nav-list>
