.center {
  margin: auto;
  width: 50%;
  border: 1px solid #26a69a;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.example-card {
  max-width: 100%;
  border-radius: 4px;
}

.example-header-image {
  // background-image: url("../../../assets/logo/logo.png");
  background-size: cover;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

span {
  color: black;
}

.Albums {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10% 10% 10% 10%;
}
.Album {
  width: 25%;
  height: 25%;
  text-align: center;
}
